// ----------------------- HEADER ----------------------------
.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  &__title {
    margin: 0;
    padding: 1rem 0;
  }

  &__welcome-blurb {
    margin: 0;
    padding: 1rem 0;
  }

  &__span {
    font-weight: bold;
  }
}

// ----------------------- QUIZ ----------------------------
.form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &__wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.quiz {
  &__question {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    // padding: 1rem 0;
  }

  &__question-title {
    margin: 0;
    padding: 1rem 0;
  }

  &__inner-question-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }

  &__input-image {
    box-sizing: border-box;
    width: 20rem;
    padding: 1rem;
  }
}

// ----------------------- RESULTS ----------------------------

.results__title {
  margin: 0;
  padding: 1rem 0;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
}

.results {
  &__img {
    box-sizing: border-box;
    width: 20rem;
    padding: 1rem;
  }
}
