h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 8rem;
  }
}

h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    font-size: 6rem;
  }
}

h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 3rem;
  }
}
@media screen and (min-width: 1024px) {
  h3 {
    font-size: 6rem;
  }
}

p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  font-weight: 100;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  p {
    font-size: 4rem;
  }
}

span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  font-style: oblique;
}
@media screen and (min-width: 768px) {
  span {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  span {
    font-size: 4rem;
  }
}

* {
  margin: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0 1rem;
}
@media screen and (min-width: 768px) {
  body {
    padding: 0 2rem;
  }
}
@media screen and (min-width: 1024px) {
  body {
    padding: 0 4rem;
  }
}

.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 2rem 0;
    width: 95%;
  }
}
@media screen and (min-width: 1024px) {
  .header {
    padding: 4rem 0;
    width: 80%;
  }
}
.header__title {
  box-sizing: border-box;
  margin: 0;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .header__title {
    padding: 2rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .header__title {
    padding: 4rem 0;
  }
}
.header__welcome-blurb {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}
.header__span {
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.form__quiz {
  display: flex;
  flex-direction: column;
}

.quiz__question {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.quiz__question-title {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .quiz__question-title {
    padding-bottom: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .quiz__question-title {
    padding-bottom: 4rem;
  }
}
.quiz__inner-question-wrap {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.quiz__input-image {
  box-sizing: border-box;
  width: 20rem;
  padding: 1rem;
}

.results {
  display: flex;
  flex-direction: column;
}
.results__title {
  margin: 0;
  padding: 1rem 0;
}/*# sourceMappingURL=styles.css.map */